[2016-03-10 07:36] skirunman opened #1 "What version of Ionic is this based upon?"
This is awesome, thanks for sharing.

Was wondering what version of Ionic you built this from, 1.2.4 or the 2.0.0 beta or did you fork the old Meteoric code? Would be awesome if it was based on the latest Ionic 2 release that is based on Angular 2 as this would be closer to React in concept and one could use the latest CSS and icons from the Ionic 2 release, which has added a ton of new features.

[2016-03-10 08:32] pors commented on #1
It is based on 1.2.4. I thought about using Ionic 2 when I started, but it wasn't ready then. I'm using this library for an app we are developing and I couldn't live without some of the features.

This was a couple of months ago, so maybe things are in a better state now with v2.

[2016-03-14 08:03] pors opened #2 "Investigate feasibility of supporting Ionic v2"
Create a branch and use sccs file from https://github.com/driftyco/ionic/tree/2.0/ionic to get a feel for how difficult this might be.

[2016-03-14 08:04] pors commented on #1
Closing this, see #2 for follow up action

[2016-03-14 08:04] #1 closed

[2016-03-14 08:12] pors opened #3 "Update hasTab, hasFooter, etc automatically"
Currently these props have to be set in the application, but this should be done by the library itself as a part of the IonBody state.

[2016-03-14 08:19] pors opened #4 "Finish Guide"
Finish the Guide

[2016-03-14 08:21] pors opened #5 "Implement IonPopover"
See https://github.com/meteoric/meteor-ionic/tree/master/components/ionPopover and http://ionicframework.com/docs/api/service/$ionicPopover/

[2016-03-14 08:22] pors opened #6 "Implement IonActionSheet"
See https://github.com/meteoric/meteor-ionic/tree/master/components/ionActionSheet and http://ionicframework.com/docs/api/service/$ionicActionSheet/

[2016-03-14 08:22] pors opened #7 "Implement IonPopup"
See https://github.com/meteoric/meteor-ionic/tree/master/components/ionPopup and http://ionicframework.com/docs/api/service/$ionicPopup/

[2016-03-14 08:23] pors opened #8 "Implement IonSideMenus"
See https://github.com/meteoric/meteor-ionic/tree/master/components/ionSideMenu and http://ionicframework.com/docs/api/directive/ionSideMenus/

[2016-03-14 08:28] pors opened #9 "Implement sorting/swiping for IonList"
See https://github.com/meteoric/meteor-ionic/tree/master/components/ionList and http://ionicframework.com/docs/api/directive/ionList/

[2016-03-14 08:30] pors opened #10 "Implement IonRange"
Not in Meteoric, but it's helpful to implement it as a component with state, see http://ionicframework.com/docs/components/#range

[2016-03-14 08:31] pors opened #11 "Implement IonSelect"
Not in meteoric, but it's helpful to implement it as a component with state, see http://ionicframework.com/docs/components/#select

[2016-03-16 17:11] #3 closed

[2016-03-18 16:37] pors commented on #8
Fixed with c9e72ce866d51f8e17a72f59617f0af8d50173a6

[2016-03-18 16:37] #8 closed

[2016-03-21 20:49] jorjordandan commented on #9
Hey! I was thinking that this would be a great project (a react version of ionic), if I can find time I'll try to chip in on this. (I did the sort/swipe and spinners on meteoric, and a couple little other things) I had sortable/deletable working on my branch here:

https://github.com/jorjordandan/meteor-ionic

[2016-03-21 20:57] pors commented on #9
Hey Jordan, that would be great! You seem like the most qualified person for it 😀

[2016-03-22 17:17] pors opened #12 "Replace Ionic keyboard with cordova-plugin-keyboard"
See https://github.com/meteoric/meteor-ionic/pull/378

[2016-03-23 06:34] pors opened #13 "Use React context instead of props passing"
https://facebook.github.io/react/docs/context.html seems like a better fit for libraries. We don't want app builders to have to take care of propagating internal props.

[2016-03-24 07:34] #11 closed

[2016-03-26 02:16] skirunman commented on #9
I think this branch of Meteoric has all the advanced Ionic list features done.
https://github.com/meteoric124/meteoric

He made this PR on original Meteoric branch https://github.com/meteoric/meteor-ionic/pull/368

[2016-03-26 14:22] pors commented on #9
@skirunman looking good. Similar to what @jorjordandan did it seems, both rely on https://github.com/pornel/slip.

I'm working on the ActionSheet right now, if any of you wants to pick this up, that would be great.

[2016-03-26 18:43] skirunman commented on #9
Probably above my pay grade to implement this. Good works so far!

[2016-03-27 16:41] pors commented on #6
Fixed in c5bcfd7f76ce7fe2959146e057851d191b1e99ce

[2016-03-27 16:41] #6 closed

[2016-03-28 00:57] skirunman opened #18 "Does it make sense to upgrade to use `extends React.Component` from `React.createClass`"
I'd like to suggest a future upgrade to full ES6 and to `class foo extends React.Component` from `var foo = React.createClass` at some time in the future.

"Facebook does suggest the future removal of React.createClass completely in favour of ES6 classes. For now, use what makes sense, they’re both just syntax with different semantics that do the same thing - they’re both classes!"
https://toddmot

[2016-03-28 08:08] pors commented on #18
The React tutorial still uses `React.createClass`: https://facebook.github.io/react/docs/tutorial.html

I have a preference for `React.createClass`. The `extends` style looks too much like OOP, but Javascript isn't OOP. But that's just me :)

[2016-03-28 08:17] pors opened #19 "Create example app"
Next to the demo[ kitchen sink](https://github.com/pors/reactionic-kitchensink) app it would be cool to have one or more example apps. Some ideas:

* [Todo app](https://www.meteor.com/tutorials/react/creating-an-appl)
* [Contacts](https://github.com/meteoric/contacts)
* [Product hunt](https://github.com/meteoric/meteorhunt)
* Other ideas?

If anyone would like to give it a shot, that'd be awesome!

[2016-03-28 17:16] pors opened #21 "Make ionToggle draggable"
Ionic uses this file to apply the drag to the checkbox.
https://github.com/driftyco/ionic/blob/master/js/views/toggleView.js

And this file to detect the gestures.
https://github.com/driftyco/ionic/blob/master/js/utils/gestures.js

[2016-03-28 18:11] skirunman commented on #18
I think the trend is definitely to embrace higher order components and the `extends React.Component` style, especially with ES6. For instance, the new [Meteor React Tutorial](http://1.3-tutorial.meteorapp.com/tutorial/1/react) uses this pattern and[ Kadira's Mantra](https://github.com/kadirahq/mantra/issues/17) also uses it.

With that said, I think it is fine to continue to use `React.createClass

[2016-03-28 18:11] #18 closed

[2016-03-29 15:56] pors commented on #10
Fixed with ad9f84327296d7dd9fa78c07c85cc30173e3029e

[2016-03-29 15:57] #10 closed

[2016-03-29 16:07] pors commented on #18
I think that last article is about something else?

Anyway, it indeed seems the `class extends` style is on the rise. As soon as Facebook starts recommending it we can fix it as well. But for now I want to focus on completing all functionality of Meteoric :)

[2016-03-29 18:15] pors commented on #12
Relevant: https://forums.meteor.com/t/meteor-1-3-beta-ios-cordova-keyboard/17850

[2016-03-29 18:22] gabrielseco commented on #19
I think on monday, I would have some to time to do something.
I'll fork the kitchen sink app and I'll give it a try

[2016-03-31 15:05] cyclops24 opened #25 "Some native issue and suggest change meteoric to meteoric124 fork for prevent buggy version"
Hi @pors ,

First thanks for extending ionic community by your new born project but I think if you based this project on [meteoric124](https://github.com/meteoric124/meteoric) it's more better because I check your project and it has so many native or UI bugs (bugs on real android device) because these bugs not solved on [main meteoric repository from Nick Wientge](https://github.com/meteoric/meteo

[2016-03-31 16:36] pors commented on #25
Thanks. I am aware of meteoric124, and I will certainly address some of the bugs that have been fixed there. My first goal is to have all Meteoric functionality ported to React as fast as possible. There are many apps out there using Meteoric, and working fine with that.

That said, it is always a good idea to make it better and fix bugs, so when I have ported all functionality we can focus on how

[2016-04-06 11:40] pors commented on #7
Implemented with https://github.com/pors/reactionic/commit/457d3eec75343bd6e04186c0ea0e339bc47d22ba

[2016-04-06 11:40] #7 closed

[2016-04-06 11:43] pors commented on #25
Closing this for now, will revisit when it is more clear how we will proceed after main functionality has been implemented.

[2016-04-06 11:43] #25 closed

[2016-04-06 11:52] pors commented on #9
@jorjordandan do you think you will have some time in the near future? Most functionality starts to be implemented, it would be great if this will be addressed as well!

[2016-04-06 11:54] cyclops24 commented on #25
@pors I think Ionic 2 is a bit different and more clear. @JoeyAndres now a little busy and I think his know more about this.

@pors now I think [this issues](https://github.com/meteoric124/meteoric/issues?utf8=%E2%9C%93&q=label%3Anative+) is more important than Ionic 2 because bug on device equal app failure and all of the functionality lost their usage.

[2016-04-06 16:58] pors commented on #25
Thanks, I'll have a look at these issues for sure!

[2016-04-06 17:02] pors commented on #25
BTW can you reproduce these bugs with reactionic? The spinners work fine for me on Android e.g.

[2016-04-06 18:44] cyclops24 commented on #25
@pors Some of these bugs appear on older android versions (for example v4.2.1 that haven't good support for CSS3 animation) you can check on emulators (for example browse reactionic demo page by built-in web browser in emulator like [genymotion](https://www.genymotion.com/) or on older device)
I also try to reproduce and post one by one as new issue soon.

Thanks for your attention.

[2016-04-08 10:22] pors commented on #5
Implemented with https://github.com/pors/reactionic/commit/fd54a7430b2b92b2c46650455637728047e27058

[2016-04-08 10:22] #5 closed

[2016-04-09 16:24] ms-ati commented on #2
👍

[2016-04-09 16:25] ms-ati opened #26 "Add gitter.im chat room and badge"
Would be interested in popping in to ask questions and potentially contribute to the community and code, a chat room would help with that.

[2016-04-09 17:27] pors commented on #26
Great idea Marc! Just created the room and a badge...

[2016-04-09 17:27] #26 closed

[2016-04-15 10:34] #13 closed

[2016-04-18 20:43] primeminister opened #28 "Upgrade to react 15"
Would be nice if react 15 is also supported.
Thanks!

[2016-04-20 07:47] danlg commented on #2
Support for ionic v2 would be great

[2016-04-20 09:37] pors commented on #28
This includes an upgrade to react router v2. @cannoneyed is working on that

[2016-04-20 18:23] primeminister commented on #28
@pors & @cannoneyed I see in helper animate.js some context.location that could be the problem. Part of the react-addons-css-transition-group class. No idea how to solve that

[2016-04-20 18:24] primeminister commented on #28
Upgrading to React 15 does work, except the deprecation warning of router v2. No harm in there, but would be nice to have it fixed

[2016-04-23 08:47] gerwinbrunner commented on #28
What's the state? Currently v0.2.0 seems to have a dependency to react-dom@0.14.8

[2016-04-23 09:14] pors commented on #28
We haven't merged the PR yet because it causes some issues with React router. Shouldn't take long though

[2016-04-25 07:20] gerwinbrunner commented on #28
Is there an ETA?

[2016-04-25 08:12] pors commented on #4
Done with cf48207c0dbd952f6b7f9946ecef09dcd2889891

[2016-04-25 08:12] #4 closed

[2016-04-25 08:22] primeminister commented on #28
Hi @gerwinbrunner , No ETA yet, if you want to speed up, you can help with the Router warnings. I will push my branch today, so you can check fork it.

[2016-04-25 15:11] johnslemmer commented on #28
@primeminister I have been working on making this upgrade locally.  I'm really new to github (read I don't know what I'm doing or how to have my changes integrated in).  But I have made some changes in my fork to get this working.  take a look at my profile.

[2016-04-25 17:17] pors commented on #28
@johnslemmer can you click on the green [New pull request] button here: https://github.com/johnslemmer/reactionic and here https://github.com/johnslemmer/reactionic-kitchensink ?

It is a bit easier for us to evaluate and see all diffs at once.

PS I think @primeminister also fixed this, but that doesn't matter, it's good to learn from everyone's code I think.

[2016-04-26 03:54] johnslemmer commented on #19
@pors at the same time that I have been doing some React 15 upgrading I have also been working on this https://github.com/johnslemmer/todos-reactionic-meteor example app that is trying to replicate https://github.com/meteor/module-todos-react example app.  It is far from ready but it is a start.  I'll be plugging away on it over the next little bit.  Let me know how I can help.

[2016-04-26 05:49] johnslemmer opened #31 "IonContent has-subheader class not set correctly"
IonContent updates the class it will apply to its `<div>` via the context globals coming from IonBody (ie. `this.context.ionHasSubHeader `etc.).  These globals are set by the respective components (ie. `IonSubHeaderBar` etc.) via the `ionUpdateHasX` context global.  This paradigm is good in theory however I think it is leading to some issues.

I have an app (https://github.com/johnslemmer/todos-re

[2016-04-26 12:29] pors commented on #19
@johnslemmer awesome John! I don't know how much time you have to work on this, but what would be really cool is to have a blog post explaining how you did it, like what Sam Corcos did here: https://medium.com/@SamCorcos/meteor-react-ionic-mobile-app-part-1-the-basic-template-9355ebf3397f#.a5fy89z20.

No need for it of course, just an idea :)

Lemme know if I can help with anything.

[2016-04-26 12:39] johnslemmer commented on #19
Not in the near future at least. Maybe later in May I'll have the cycles to really do good things for this example.

[2016-04-26 12:43] pors commented on #31
I'm not 100% if I understand the issue, but my first feeling is that this is caused by having (sub)headers in individual pages and not in a shared component (like a layout component as in the kitchen-sink demo). Can you isolate the problem in a very simple bare-bone app? That makes it a bit easier to inspect.

About point 3: I used to pass these states as props all the way down in a previous versi

[2016-04-26 13:19] primeminister commented on #28
Merged into master with PR #32 so closing this issue

[2016-04-26 13:19] #28 closed

[2016-04-26 13:22] pors commented on #28
@johnslemmer are you on Twitter? Would like to mention you in a tweet about the update

[2016-04-26 13:25] johnslemmer commented on #28
Yep, @johnslemmer

thanks

On Tue, Apr 26, 2016 at 9:22 AM, Mark Pors notifications@github.com wrote:

[2016-04-26 15:34] pors opened #33 "Fix fourseven:scss issue with Meteor 1.3.2+"
See http://guide.meteor.com/v1.3/build-tool.html#css-importing-from-package

[2016-04-26 15:35] pors opened #34 "Update guide to reflect react-router v2 changes"
Some context definitions a needed in any app at the top level. Needs to be documented.

[2016-04-26 20:47] johnslemmer commented on #34
@pors is this the expectation for passing react-router location around?  Because I'm still getting the following in 0.3.0.

I noticed that we removed automatically adding location to the child context in IonBody and was wondering what we the plan was with that.

[2016-04-26 21:34] johnslemmer commented on #31
Cool.  Here is a concise example. https://github.com/johnslemmer/reactionic-issue-31

Switch between the two pages using the side menu and you will see some content hide behind the sub header bar.

I'm assuming this has a workaround like you expressed where I should just have another layer of layout component in the router tree.  I will play around with that being a solution.  If that is the way t

[2016-04-27 02:59] johnslemmer commented on #31
Ok.  Just tried the workaround.  https://github.com/johnslemmer/reactionic-issue-31/tree/workaround-layout

Doesn't appear to impact anything.  Take a look and see if I'm doing what you were proposing.

[2016-04-27 09:31] pors commented on #34
@johnslemmer we added the childcontext for location to app.jsx (in the kitchen sink demo) as that is the top level route component.

But you are right, it might be better to put it in IonBody, and add to the guide that you need to pass props from your top level component to IonBody. At least the this.props.location prop i.e.

What do you think?

[2016-04-27 09:57] pors commented on #31
Thanks for creating this "issue 31 app" :)

Now I see that the problem occurs with the side menu, I assumed you talked of normal page transitions. Looks like a bug indeed.

We have a similar issue in another app where we want to override the hasHeader etc. behavior in the app itself somehow. So that might be a solution, but we need to dig a bit deeper first.

If you have any suggestions to fix thi

[2016-04-27 11:42] pors commented on #33
We still need fourseven:scss of course. Added an issue here https://github.com/fourseven/meteor-scss/issues/177 and https://github.com/meteor/meteor/issues/6851. Let's hope that leads to a solution.

[2016-04-27 15:21] johnslemmer commented on #34
@pors I could see the argument go either way.  To me it seems more elegant
to have the reactionic package set up the context types that it knows it is
going to need.  Passing props to IonBody feels pretty normal, and something
you would expect to do anyway.  Thats my two sense.

My preference was done in this commit but then got changed later.
https://github.com/reactionic/reactionic/commit/11e17e

[2016-04-27 16:34] pors commented on #34
@johnslemmer yeah that's my mistake, I thought it had to go to the top router component, but it's much better if we keep it inside reactionic and pass props to IonBody.

I'll fix and update the guide as well. Thx!

[2016-04-28 11:24] #34 closed

[2016-04-28 13:15] pors commented on #31
I understand now why this is happening: because of the animated entering and exiting of the pages, there is a period both pages are mounted. The leaving page sets the hasSubHeader state to false after the animation, and so the entering page gets that value as well.

Solution coming up soon (I hope)

[2016-04-28 13:45] #31 closed

[2016-04-28 13:49] pors commented on #31
@johnslemmer can you check if this works for you? It's not on NPM yet, so use a local version 3.0.2 of reactionic to test.

PS make sure to do:

[code]

[2016-04-29 02:32] johnslemmer commented on #31
just tested it.  working great.  Thanks @pors

On Thu, Apr 28, 2016 at 9:49 AM, Mark Pors notifications@github.com wrote:

[2016-05-01 16:59] #33 closed

[2016-05-01 19:07] johnslemmer opened #35 "Add other transitions for nav view"
I've been working on an app and thought this animation would be nice but it doesn't appear to be available.

http://ionicframework.com/docs/api/directive/navDirection/

And you wouldn't necessarily need to be constrained by the Ionic transitions.  You could even have other values be settable to ionNavDirection.  For instance something like https://davidwalsh.name/demo/css-flip.php

Also, I would t

[2016-05-05 17:36] pors opened #38 "Back navigation in online demo does "browser back""
instead of going back in the iframe only. I can't reproduce it. If someone can, please let me know.

[2016-05-06 08:36] timbrandin opened #39 "How would you setup a Tabs structure app with animations inside the tab pane?"
Just like how they do it here:
http://ionicframework.com/docs/api/directive/ionTabs/

I'm curious how to fit this in to get animations, using your example code I'm finding it troublesome to get it all together. Any suggestions?

[2016-05-06 10:33] pors commented on #39
Hmm, I haven't tried that yet. I'll have a look early next week.

[2016-05-07 01:30] lorensr commented on #2
v2 using platform-specific styles for android is really nice 👍 and it's supposed to have a lot of perf improvements, although I don't know how many will translate from angular.

Also, nice project! I'm linking you to the Guide 😊 https://github.com/meteor/guide/pull/406/files

[2016-05-09 03:48] stocksp opened #40 "Data loading example"
It would be very helpful to have a simple example of the correct way to load data.
I was able to use react-komposer and everything was fine until I tried to add an `ionShowLoading`
Although what I did works ... the console show react to be very unhappy.
`warning.js:44 Warning: setState(...): Cannot update during an existing state transition (such as within `render` or another component's construct

[2016-05-09 17:51] stocksp commented on #40
I got this working by using using the IonLoading component directly.
Here is the 'container' ... buyer beware I'm new to this framework!!!

[code]

[2016-05-09 17:51] #40 closed

[2016-05-09 20:25] pors commented on #40
@stocksp I haven't tried the container way of doing it yet, but this works for us:

[code]

And then in the `render()` method:

[code]

and then let the component return `loading`

[2016-05-09 20:45] EmirGluhbegovic commented on #9
@jorjordandan Im trying to implement swing.js in meteor but am facing difficulties. Could describe how you setup swing with meteor? Would be greatly appreciated. thanks

[2016-05-09 20:49] stocksp commented on #40
Hummm ... well, `<IonSpinner icon="ios" />` doesn't show anything for react-komposer.   I'm not married to react-komposer I'm just trying to avoid the mixin ---  I see the folks at studiointeract have a tracker-component that looks easy to use,  I'll give that a whirl when I have a few minutes.
thanks for your help!

[2016-05-09 22:05] jorjordandan commented on #9
@pors Sorry I haven't had time to work on this, I've been buried :( @EmirGluhbegovic I didn't use swing.js for this particular thing but I did try unsuccessfully to set swing.js up with another Meteor project a couple years ago. Hope you have better luck than I did!

[2016-05-10 07:24] EmirGluhbegovic commented on #9
@jorjordandan Have you implemented any sort of tinder like interface with meteor?

[2016-05-10 07:39] pors commented on #9
No worries @jorjordandan

@EmirGluhbegovic have a look at https://medium.com/@SamCorcos/meteor-react-ionic-mobile-app-part-6-tinder-transitions-72814b5b419a#.7chsbshfm

[2016-05-10 07:54] EmirGluhbegovic commented on #9
@jorjordandan Thanks for the recommendation. I have tried that and it works well for a mobile only approach. Issue comes as I am trying to implement this in a webApp.

[2016-05-10 16:04] keiranvv opened #41 "ionSnapper is undefined"
Hi,

I'm trying to use the IonSideNav set of components, however, I'm getting the above error when I try to use it.

Here's an example of the code from my App component (let me know if I need to include anything else):

[code]

[2016-05-10 16:18] gabrielseco commented on #41
Are you using contextTypes in your App component.
You can see an example of a component using it.

https://github.com/reactionic/reactionic/blob/master/src/components/ionBody.js

[2016-05-10 16:19] pors commented on #41
What @gabrielseco says. Also, have a look at this page to see how to control the sidemenus with clicks next to dragging: https://github.com/reactionic/reactionic-kitchensink/blob/master/app/client/imports/components/layouts/main.jsx

[2016-05-10 16:26] keiranvv commented on #41
@gabrielseco do you mean the following?

[code]

If so, then yes I have added it.

[2016-05-10 16:26] keiranvv commented on #41
@pors That is indeed the example I've followed :)

[2016-05-10 16:29] gabrielseco commented on #41
@keiranvv yes, i meant that.

Could you show us the entire component to see where the problem is

[2016-05-10 16:39] keiranvv commented on #41
Sure thing:

App.jsx:

[code]

SideMenu.jsx

[code]

[2016-05-10 18:18] gabrielseco commented on #41
Well, I kinda detected the problem.

The ionBody component sets the snapper to null.

You can see the ionSnapper state is null. line 44.

https://github.com/reactionic/reactionic/blob/master/src/components/ionBody.js

Well if in your App.jsx remove the ionBody, the ionSnapper works.

[2016-05-10 18:24] gabrielseco commented on #41
So in the https://github.com/reactionic/reactionic-kitchensink/blob/master/app/client/router.jsx.

Import your App.jsx without the IonBody component in the router.jsx.

I would change the name because there's an App component with the IonBody component.

 let mainRoute = (
    <Route component={App}>
      <IndexRoute component={Index} />
      {pageRoutes}
    </Route>
  );

Tell me if  it is thi

[2016-05-10 19:10] keiranvv commented on #41
removing the ionBody doesn't seem to work. I'm in the process of copying the kitchen sink setup line by line, but it still doesn't seem to be working.

I'll carry on and update if i resolve it.

[2016-05-10 19:31] gabrielseco commented on #41
Check this repo that I made
https://github.com/gabrielseco/snapperExample

In the https://github.com/gabrielseco/snapperExample/blob/master/app/client/router.jsx, I import your component that I recalled Snapper

[2016-05-10 19:51] keiranvv commented on #41
this.context.ionSnapper is still null.

Can you see anything wrong with my router.jsx?

Router.jsx

[code]

App.jsx

[code]

If you can't see anything wrong then I'm probably going to have to write my own slide out menu, as I can't see any other clear reason that this isn't working.

[2016-05-10 20:20] gabrielseco commented on #41
The App.jsx is the same that I have.

In the router.jsx my Main Component load in mainRoute, probably is different.

Look at this component.

https://github.com/gabrielseco/snapperExample/blob/master/app/client/imports/components/snapper.jsx

I'll show you a capture working with it.
<img width="522" alt="captura de pantalla 2016-05-10 a las 22 16 15" src="https://cloud.githubusercontent.com/assets

[2016-05-10 20:32] keiranvv commented on #41
Ok, well I copied that component as is, and it still does the same thing. I'm going to have to write my own slide menu component for this app.

Thanks so much for all your help, really appreciate it.

[2016-05-10 20:43] keiranvv commented on #41
So, I potentially found the bug I think?

I originally added the package using meteor's command, ie. `meteor npm i -S reactionic`

I tried removing the package: `meteor npm uninstall -S reactionic` and then re-adding with `npm i -S reactionic` without the `meteor` keyword, and it worked!

[2016-05-10 20:49] johnslemmer opened #43 "ionPopup never clears this.state.inputValue"
So, even if you tap OK on a prompt popup the next time that the popup comes up it will still have the previous input value.

@pors I would just fix this, but I wanted to have a discussion first about how to appropriately accomplish this.  Are all users going to want this `this.state.inputValue` cleared on OK?  How about on cancel?  Or do we want to make it customizable and somehow allow the `onOK`

[2016-05-11 06:13] gabrielseco commented on #41
Glad you solved it.

[2016-05-11 06:13] #41 closed

[2016-05-11 16:24] pors commented on #43
I think that the only case where we don't want to clear the input is if there is some error checking done and an error is triggered. But for a password field that doesn't really make sense.

Are you using it for a password or for a normal input field?

[2016-05-11 16:40] johnslemmer commented on #43
A normal input field.

[2016-05-11 17:07] pors commented on #43
In that case, we could maybe add another `prompt` type for normal text input, and add some error-checking callback? And if that returns 'no error' we reset the value.

[2016-05-12 19:26] pors commented on #2
Cool, thanks @lorensr!

PS Sorry for the late reply, bit overloaded :)

[2016-05-14 06:49] tommy0311 opened #44 "Reactionic iOS index page slip"
I observed index page will slip in iOS when index page is not list page.
The issue also can be reproduced in Kitchen sink demo.

![output_oh9dy4](https://cloud.githubusercontent.com/assets/12669644/15266836/8cf12e96-19e3-11e6-804c-99dd4918f315.gif)

[2016-05-14 07:00] pors commented on #44
@tommy0311 I'm not sure what you mean with "when index page is not list page". Can you please explain?

[2016-05-14 13:34] tommy0311 commented on #44
@pors  In Kitchen sink demo, remove IonList from index.jsx.
You can find index page slip in iOS

[code]

[2016-05-14 20:49] johnslemmer commented on #19
OK.  It isn't a full app example like I wanted to do.  But I made a pretty thorough [boilerplate](https://github.com/johnslemmer/boilerplate-reactionic-meteor) that I hope helps people get started.  Should especially be good for people pretty unfamiliar with this whole technology stack.

[2016-05-16 15:46] RobDong opened #46 "IonSideMenu: would be nice to have the possibility to set the width of the side menu"
Like the angular version
[http://ionicframework.com/docs/api/directive/ionSideMenu/]

[code]

[2016-05-19 06:05] pors commented on #46
@RobDong seems useful. We'll have a look at it. If you can create a simple solution yourself, please fork and create a Pull request.

[2016-05-19 06:07] pors commented on #44
@tommy0311 hmm yes, that is a serious issue. Thanks for reporting. Will have a look at it soon. If you know a solution yourself, please fork and create a Pull Request (or post some comments here).

[2016-05-19 22:10] timbrandin opened #47 "Remove customClasses and start passing down className"
This would be really useful, I don't see why we can't pass down this instead of customClasses which just seams odd.

[2016-05-19 22:12] timbrandin opened #48 "Pass down props down to the components"
In general, it would be much better just passing down props, i.e. onClick, className, etc...

[2016-05-20 17:15] pors commented on #44
I can reproduce it, also if IonList is in place. If you hold the header bar you can wiggle the whole view up and down.
Looking into a solution now

[2016-05-20 18:59] johnslemmer commented on #46
@RobDong I think you can.  reactionic uses [snap.js](https://github.com/jakiestfu/Snap.js/) internally to accomplish the side menus.  It has settings for `minPosition` and `maxPosition` that might be what you are looking for.  You just have to render the `IonSideMenuContainer` with the correct options.  Something like the following:

[code]

Let us know if that get you what you need.

[2016-05-20 19:27] johnslemmer opened #49 "Context isn't always up to date"
In React context does not always get filtered down to children if it isn't tied to a change in state or properties. This can potentially lead to bugs within reactionic because context is used heavily to pass around information about the state of headers, footers, etc.

Read [this](https://facebook.github.io/react/docs/context.html#updating-context) and [this](https://facebook.github.io/react/docs/

[2016-05-21 07:58] gabrielseco opened #51 "Keyboard issue found on ios & android"
In ios, when you focus on a input,  the page scrolls.

In android, when you focus on a input, it shows you a white screen and you can't see what are you typing.

[2016-05-21 08:30] gabrielseco commented on #51
I solved it by using in the router.jsx.

[code]

[2016-05-21 18:26] RobDong commented on #46
@johnslemmer Yes thank you :).
This is what I came up with for having a full screen sidebar :

[code]

[2016-05-22 14:06] timbrandin opened #52 "Deferred long-running timer task(s) to improve scrolling smoothness. See crbug.com/574343."
I keep getting these notices in the console log,
[code]

[2016-05-22 21:29] johnslemmer commented on #51
@gabrielseco I'm guessing that you also weren't setting the `platform` property on `IonBody`.  See the [guide](https://github.com/reactionic/reactionic/blob/master/GUIDE.md#platform) for what I'm talking about.  The kitchen sink is a good example to follow.  The [IonBody](url) component is central to reactionic working.  And if you want multi-platform support then setting the `platform` property i

[2016-05-23 03:19] johnslemmer commented on #49
A way around this currently is to turn off the PureRenderMixin on createContainer.  I raised an [issue](https://github.com/meteor/react-packages/issues/193) hoping they would document that better.

You can see the workaround implemented in [this fork](https://github.com/johnslemmer/boilerplate-reactionic-meteor/tree/reactionic-issue-context-workaround).  I don't like it but it works for now.

[2016-05-23 08:50] #44 closed

[2016-05-23 08:51] pors commented on #44
@tommy0311 can you confirm that reactionic@1.1.2 fixes this issue? If not, please reopen.

[2016-05-24 06:17] tommy0311 commented on #44
@pors
The 1.1.2 patch is work for Kitchen sink demo.
But my project still has very tiny whole-screen wiggling, the wigging was bigger.
I am going to figure out how to reproduce it in Kitchen sink demo.
If I find something, I will reopen this issue.
Thanks for your help.

[2016-05-24 21:13] timbrandin opened #53 "Accounts UI for React Ionic"
Could we get a mention in the Readme for this:
https://github.com/studiointeract/accounts-ionic

[2016-05-25 17:09] johnslemmer commented on #49
Also, another workaround options that specifically for header, footer, and sub etc. information you can just add the correct `has-subheader` etc. in the `IonContent` via `customClasses=`.  My thought is that most of the time this will be known by the component which is rendering IonContent.

[2016-05-25 18:50] gabrielseco commented on #19
Hi everyone.

I have my app on my repo, it's pretty simple indeed.

It uses the http://www.brewerydb.com/ but in freemium mode, it limits too much.

I used meteor server to do the API calls to handle CORS.

I would need someone to do the code revision.

I think after that, if you guys want can we upload to the organization's repo.

If anyone wants to do it, I leave it here.

https://github.com/gab

[2016-05-25 23:48] pors commented on #49
@johnslemmer yeah that's a good idea. I'm still not too confident about how to make this work under all circumstances. See e.g. this code https://github.com/reactionic/reactionic/blob/master/src/components/ionBody.js#L163 that is needed for modals to work correctly if the underlying page has e.g. a footer, but the modal itself doesn't.
This might interfere with manually setting has-footer.

[2016-05-26 00:19] pors commented on #19
Wow, guys, this is awesome! Both the boilerplate and the brewery app should be mentioned in the README, the GUIDE and the main project page IMO. Would you like me to do that?

@gabrielseco you can move the repo into the organization yourself (I can't do that): https://help.github.com/articles/transferring-a-repository/#transferring-from-a-user-to-an-organization
It would also be nice to have it ho

[2016-05-26 00:26] pors commented on #53
@timbrandin Nice work! I don't see any reactionic integration in it though. If you'd have a sample reactionic app with accounts UI working into it I will certainly include it.

[2016-05-26 00:26] #53 closed

[2016-05-26 00:28] pors commented on #52
I can't reproduce this. Do you have some sample code to test?

[2016-05-26 00:30] pors commented on #48
Yeah, I agree in general. We started doing that here and there. The reason behind the current way of doing things is that I tried to stay as close as possible to the Meteoric library to make porting easy.

Closing this issue as it will be addressed on a per case basis.

[2016-05-26 00:30] #48 closed

[2016-05-26 00:30] pors commented on #47
See #48

[2016-05-26 00:30] #47 closed

[2016-05-26 00:31] pors commented on #46
Resolved, so closing

[2016-05-26 00:31] #46 closed

[2016-05-26 00:32] pors commented on #43
@johnslemmer would you like me to elaborate on this?

[2016-05-26 00:54] johnslemmer commented on #19
Yeah, link away.  Also, we can transfer the boilerplate to the organization
as well if you would like

On Wed, May 25, 2016 at 5:19 PM, Mark Pors notifications@github.com wrote:

[2016-05-26 01:01] johnslemmer commented on #43
Sorry, I didn't get back to you on this.  I actually went ahead and made my own template.  It just seemed easier.  Something like this worked out well for me:

[code]

I would say that the popup is flexible enough to do what you want with that we don't need to add other specific types to reactionic itself.

[2016-05-26 06:15] gabrielseco commented on #19
I'll try heroku this weekend then and when I have it, I'll transfer

[2016-05-26 09:33] pors commented on #43
Ah great! Will close this one then.

[2016-05-26 09:33] #43 closed

[2016-05-26 09:35] pors commented on #19
@gabrielseco cool! I'll check it out in more detail after my holidays.

@johnslemmer yeah it would be great if we can put it in the organization. You are the only one who can do that, so please do. I'll link when it has found its new home :)

[2016-05-26 18:16] johnslemmer commented on #19
tried to transfer.  Got this error.

[2016-05-27 01:04] pors commented on #19
Ah I only added you as a collaborator of the reactionic repo, not the entire organization. You should now have received an invitation

[2016-05-27 02:41] rangerch opened #54 "Can routing a page use lazyload?"
First, I`m so appreciate your this work.

I have a question about route, for looking kitchensink demo, I noticed every route switch no request, can i use  lazyload to load other pages?

Thank you.

[2016-05-27 03:01] pors commented on #54
Thanks @rangerch!

Can you provide an example of what exactly you would like to accomplish?

[2016-05-27 06:20] Streemo opened #55 "Right side menu will not disable"
[code]
I am not including the right side menu, but I can still drag the main view content from the right, revealing an empty screen. Anyone else got that problem?

[2016-05-27 06:24] RobDong commented on #55
I solve it with this :
this.context.ionSnapper.settings({ disable: 'right'  });

[2016-05-27 06:35] Streemo commented on #55
Isn't it not safe to be using context, a this is a very experimental feature? Is there another way to access the ionSnapper? Thanks.

[2016-05-27 07:46] Streemo commented on #55
@RobDong I've figured out the context thing, it's a bit different with es6.

Do you know where to call `this.context.ionSnapper.settings`? In the render() method of the Layout, the ionSnapper is still `null`...

[2016-05-27 08:16] Streemo commented on #55
Thanks @RobDong for mentioning `{disable: 'right'}`.

Apparently one must pass a `{disable: "right"}` into the props for the `<IonSideMenuContainer>`. I have no idea why something as necessary as this is not in the docs.

[2016-05-27 11:17] pors commented on #55
@Streemo feel free to add it to the guide!

[2016-05-27 17:16] johnslemmer commented on #55
Actually, I have been meaning to update the doc for the side menu as I had
made some changes there

On Fri, May 27, 2016 at 7:17 AM, Mark Pors notifications@github.com wrote:

[2016-05-27 22:43] Streemo commented on #41
# Edit 3 -- Solution:

If you are new to React Context, there a few things to note. This package keeps track of the UI state in the highest level context, at the very top level of the app. Your app should be designed (forcefully) this way:

[code]

Every component class you export which falls under the `IonBody` can access the UI/cosmetic state of the app, and has the ability to manipulate that st

[2016-05-27 23:43] pors commented on #41
Context is not highly experimental as far as I know. Even react-router is
using it.

On Saturday, May 28, 2016, Streemo notifications@github.com wrote:

[2016-05-27 23:47] Streemo commented on #41
https://facebook.github.io/react/docs/context.html

This advises not to use context. Is that only for React 1? Is there a newer version of React in which context is stable?
Thanks.

[2016-05-27 23:50] pors commented on #41
Yes context is bad practice for applications but very handy for libraries
where you don't want to make assumptions for the developer.

On Saturday, May 28, 2016, Streemo notifications@github.com wrote:

[2016-05-28 00:08] Streemo opened #56 "How to Structure your App"
The structure below is what I landed on after playing around. It's not entirely clear where to put your reactive data source (Meteor users).

If your app right now is `x`, think of this package as wrapping your app into `x' = reactionic(x)`. All of your reactivity should go under the `IonBody` coming from this package.
[code]

If there's a better pattern, please share it here. Putting reactivity i

[2016-05-28 12:46] pors commented on #56
I have only been using the "old" ReactMeteorData mixin so far, but please have a look at the boilerplate here: https://github.com/johnslemmer/boilerplate-reactionic-meteor by @johnslemmer. I guess you best add a container for each component at the "lowest" point in your component hierarchy.

[2016-05-29 03:04] Streemo commented on #56
That's a great link. Did you reference it in the docs? It should be!

Thanks for sharing 👍

[2016-05-29 09:37] pors commented on #56
@Streemo We will do this as soon as the boilerplate is added to the reactionic organization. @johnslemmer is a member of the reactionic team.

[2016-05-29 09:37] #56 closed

[2016-05-30 19:06] johnslemmer commented on #19
OK.  Sorry was out of touch the last few days.  It is now transferred over to the org.

[2016-05-31 17:38] johnslemmer commented on #55
Ok, I have updated the guide.

[2016-05-31 17:38] #55 closed

[2016-06-05 13:45] DarrylD commented on #19
I plan to convert one of my ionic apps I could add when finished.

[2016-06-06 07:25] pors commented on #19
@DarrylD awesome! Let us know if we can help

[2016-06-07 03:44] DarrylD commented on #41
I'm still having issues getting null for snapper.

[2016-06-08 00:41] DarrylD opened #57 "Text inputs?"
Do we plan to add any of them?

[2016-06-09 08:07] timbrandin commented on #39
I've actually been able to fix this, though I had to create customize the tabs and routes so that it matches that structure, but it works. Had to add a method to the view that prevent any animation when switching tabs also.

[2016-06-10 02:09] DarrylD commented on #19
made a quick demo and added redux https://github.com/DarrylD/react-ionic-redux

[2016-06-10 23:29] came opened #58 "Header Events of Page"
Hi,

I am just figuring out how to build a simple meteor+ionic+react app with your package.
It's my first ionic as well as react app so far.
Looking at the kitchen demo I am asking my self how I could call an event handler (save data) located in my page component after a user clicks a IonNavBar Button ("save").
The data is located in the page component so I think the save handler should be located

[2016-06-11 00:15] came opened #59 "ionHasHeader, etc. Context are never set..."
Hi,

I was just debugging a little bit, because my header and tabs are missing the has(Header|Tabs)* classes. When I look into the IonContent.js this depends on the context.
('has-header': this.context.ionHasHeader)
However, this context is never (nowhere) set as far as I can see. E.g. in IonNavBar component mount there is the:
this.context.ionUpdateHasX('ionHasHeader', true);
Behind this there is

[2016-06-11 07:46] came commented on #59
ok, I think I got it. You set the state of the IonBody that reactively updates the entire context.
Unfortunately my context still does not update in the underlying components at least when I use the meteor 'meteor/react-meteor-data'.
The context seems to get lost somehow during:

export default ContactsGroupsPageContainer = createContainer(({}) => {
    return {
    }
}, ContactsGroupsPage);

any

[2016-06-11 14:45] came commented on #59
ok ...this seems to be the issue: https://github.com/reactionic/reactionic/issues/49

and that a viable solution: https://github.com/reactionic/boilerplate-reactionic-meteor/blob/reactionic-issue-context-workaround/imports/ui/containers/MainContainer.jsx

really, really nice
thx @johnslemmer

[2016-06-12 17:28] RobDong opened #60 "IonNavBar leftButton : has anyone experience duplicate left button"
Has anyone experience having a duplicate buttons on the IonNavBar while browsing ?
I used different IonButton as leftButton for IonNavBar. While browsing back and forth, the buttons just start to duplicate instead of just having one.
I will make an example soon. Just wonder if anyone came across this situation.

[2016-06-12 17:43] RobDong commented on #60
Ok.. Solved it by using IonHeaderBar instead of IonNavBar..

[2016-06-12 17:43] #60 closed

[2016-06-13 14:27] unceasingwaves opened #61 "Can I use reactionic with flow-router or iorn:router ?"

[2016-06-13 17:13] pors commented on #61
Nope, it relies on react-router.

[2016-06-13 17:13] #61 closed

[2016-06-16 15:10] Slind14 opened #62 "Overwriting scss color vars"
Hey,
I'm trying to overwrite the scss color vars via. the app.scss before the import, but this doesn't seem to work. Is there any way to get this working?
I had been doing that in the past with meteoric.

https://github.com/driftyco/ionic/blob/master/scss/_variables.scss

[2016-06-16 15:16] #62 closed

[2016-06-29 13:47] JWPapi opened #64 "Flow Router"
Has anyone successfully done this with the Flow Router?

[2016-06-30 10:40] nevace commented on #51
I was planning on using Meteor but now there is no need for it. What would be the best way to set the platform property with the webpack variation?

[2016-06-30 12:21] pors commented on #51
@nevace it depends on the environment you run the app in. What you have to do is basically replace this function with a version that works for the environment it is used in: https://github.com/reactionic/reactionic-kitchensink/blob/master/app/client/imports/components/utils/helpers.jsx

I can't give you more details or advice about the specifics because I have only implemented it for Meteor.

[2016-06-30 14:46] JWPapi opened #65 "How do i pass params?"
{ path:'/clubs/:clubId', component:Clubview, title:'Clubvi'}
lead to

IonicLayout.jsx:60Uncaught TypeError: Cannot read property 'headerTitle' of undefined

:/

[2016-06-30 14:47] JWPapi commented on #64
#61 its answered

[2016-06-30 14:47] #64 closed

[2016-07-02 11:20] twDuke opened #66 "React DOM 15.2 Add warning for unknown properties on DOM elements"
Warnings in console with latests react-dom

Unknown props `customClasses`, `leftButton`, `rightButton`, `history`, `location`, `params`, `route`, `routeParams`, `routes`, `pageList`, `isFetching`, `navigate` on <span> tag. Remove these props from the element. For details, see https://fb.me/react-unknown-prop
    in span (created by ReactTransitionGroup)
    in ReactTransitionGroup (created by Reac

[2016-07-08 14:02] DarrylD commented on #66
Also having this issue. Any solutions to this?

[2016-07-09 13:16] pors commented on #66
It is most likely caused by:

Are you seeing these warnings with the kitchen sink app?
If not, please provide some more context.

[2016-07-09 15:46] DarrylD commented on #66
Moved to react 15.0 was an issue with 15.2

[2016-07-14 11:05] LucNaterop opened #67 "Make ion-item grey on click"
When you click on an ion-item, it becomes grey for a moment as a click response, as you can see in the [ionic docs ](http://ionicframework.com/docs/api/directive/ionList/). I think clicking on a list item without that sort of feedback feels strange. Sometimes you can't even be sure which exact item you clicked on. This should therefore be implemented.

[2016-07-14 22:48] DarrylD opened #68 "Back button"
Noticed `this.props.history` in the guide

[code]

What does that do? Not seeing any reference in the src.

[2016-07-15 06:04] pors commented on #68
It provides the history object from here: https://github.com/reactionic/reactionic-kitchensink/blob/master/app/client/router.jsx#L97

This is needed for the back button to know what "back" means.

[2016-07-15 06:18] pors commented on #68
Ah wait! That has been replaced by context now of course. Is indeed an error in the documentation. Thanks!

[2016-07-15 14:30] #68 closed

[2016-07-17 17:09] DarrylD opened #69 "Back button loops pages"
When I go back (the browser back or the ionic back) the pages just loops between the last page and the current.

If I progress through 6 pages and then press back, it will just loop between the 6th and 5th.

I have a repo where its happening
[https://github.com/DarrylD/react-ionic-redux](https://github.com/DarrylD/react-ionic-redux)

Any idea what could be causing this? I'm kinda stumped at this p

[2016-07-28 06:56] ducdev commented on #57
Yes, I want a proper reactionic component for text inputs.

[2016-07-28 17:17] DarrylD commented on #57
After digging around a bit, I'm not seeing the biggest usecase for them anymore. Was much easier to make my own stateless components with the ionic classes. Used other frameworks which controls the inputs, was a huge headache.

[2016-07-28 17:17] #57 closed

[2016-07-28 17:31] pors commented on #57
@DarrylD yeah that was exactly my approach: all elements that can be created with standard React and Ionic CSS are not included in Reactionic.

[2016-07-28 17:35] ducdev commented on #57
Hi guys, I don't know if this is right with you @DarrylD but this is exactly what I want:
`<IonItem input>
              <input ref="username" type="text" placeholder=" Username" />
            </IonItem>`

[2016-07-28 18:32] DarrylD commented on #57
I have some components I made like this:

[code]

[2016-07-28 18:34] ducdev commented on #57
That's cool, in case people need a right component specified for Inputs. This should be merged with a PR.
Or we can easily wrap them by `<IonItem input></IonItem>`

[2016-07-28 19:31] chrisbolin commented on #66
hey @pors! Yes, this happens with the kitchen sink demo. Simply installing the demo did it for me.

[code]

React 15.2.1.

[2016-07-29 15:58] pors commented on #66
@chrisbolin Hmm, I experience it as well. Where does this suddenly come from I wonder? We didn't do any React updates.

Anyway, this is something we should fix. It's much better practice to peel off props before passing the whole this.props down.

[2016-08-08 14:18] LucasBassetti commented on #65
Also having this issue. Any solutions to this?

[2016-08-08 14:40] JWPapi commented on #65
Im setting the title inside the component

[2016-08-08 15:14] pors commented on #65
Can you give a bit more context, please? In which file / function do you pass that object?

[2016-08-11 09:22] JWPapi commented on #66
Im having the same issue with my project. But its just after I clone my own repo again and hit npm install after. So I think its due to a never version of react.

[2016-08-11 09:29] JWPapi commented on #66
Ok checking the versions. Its not happening with react 15.1!

[2016-08-11 09:51] pors commented on #66
@JWPapi can you try version 1.2.0-beta.0 of reactionic and see if that resolves it? Will make it a new non-beta version soon.

[2016-08-11 10:03] JWPapi commented on #66
npm install reactionic@1.2.0-beta.0
nightscool@ C:\Users\jwagner\Documents\TEST\nightscool
`-- reactionic@1.2.0-beta.0  invalid

[2016-08-11 10:15] pors commented on #66
can you try: `npm install reactionic@beta`

[2016-08-11 10:17] JWPapi commented on #66
same

Mark Pors notifications@github.com schrieb am Do., 11. Aug. 2016 um
12:15 Uhr:

[2016-08-11 10:44] gabrielseco commented on #66
If you updated your app and the error shows, can you remove node_modules and install again.

In case that wouldn't work, could you upload a repo reproducing the problem.

[2016-08-11 18:14] JWPapi commented on #66
https://github.com/JWPapi/nightscool

This repo comes without node_modules

You wont see much since its based on the DB, but you should get the error after cloning and npm install

[2016-08-12 06:12] gabrielseco commented on #66
I made the next changes to make it work.

In package.json I updated reactionic.

[code]

And in ui/components/views/Reservation.jsx in line 89 replace the attribute in the label class for className.

Then do a npm install and it should work now.

[2016-08-12 11:14] JWPapi commented on #66
Ok Thank you very much. Im really busy today. Will check it tomorrow and give feedback.

[2016-08-12 12:59] JWPapi commented on #66
Ok im not getting the warning for unknown properties anymore. Im no having this error:

Warning: You are manually calling a React.PropTypes validation function for the `getComponents` prop on `IndexRoute`. This is deprecated and will not work in the next major version. You may be seeing this warning due to a third-party PropTypes library. See https://fb.me/react-warning-dont-call-proptypes for det

[2016-08-23 06:32] acornejo commented on #2
I briefly looked into this. TL;DR; it looks like a lot of work. The html/css of almost every (if not all) components has changed in non-trivial ways.

On the upside the platform-specific styles do look really nice, and switching between them would be easy since the html markup remains the same.

Has anyone started work on this?

[2016-09-28 17:32] DarrylD opened #71 "Close modal with back button"
Is it possible to use the hardware back button to close modal similar to ionic
http://ionicframework.com/docs/api/controller/ionicModal/

[2016-10-05 14:42] J-Cat opened #72 "Icons show up with just a border"
I've started writing a custom app w/ react-ionic, and the icons all show up as just a "box".  Also tested the kitchensink demo and had to update the app.scss as follows to get it to work at all.

@import "node_modules/reactionic/dist/scss/styles/reactionic";

Most styles etc seem to be working fine, but the icons just aren't working and I can't seem to figure out why.

I've also attached a screens

[2016-10-11 07:30] ptfly opened #73 "ES6 context not available"
First, awesome project guys!

I'm trying to use IonModal for example and in my component, I'm setting:
[code]

But when I ran the app (in browser or in cordova/ ios simulator) all context types are undefined except the router. Any idea how can I fix this?

I'm using latest official react release, thanks!

[2016-10-21 09:12] haons opened #74 "Unknown props in IonNavBar"
Hello. I use react ionic for my project. But when in set up layout have a proplem. Have an error
"Unknown props `customClasses`, `leftButton`, `rightButton`, `history`, `location`, `params`, `route`, `routeParams`, `routes`, `pageList` on <span>". I is in IonNavBar. This is my code

[code]

[2016-11-16 20:39] CodeJjang commented on #66
Any fix? Still receiving this error today and it's very annoying.

[2016-11-17 10:06] JWPapi commented on #66
The fix pors and gabrielseco mentioned are working. Anyway im Sorry, but Reactionic is not maintained anymore. You could try Onsen, if you not already put in a lot of effort

[2016-11-20 01:40] alstephan opened #75 "PLEASE INFORM: Is reactionic still being maintained?"
Looking through the issues, many recent ones remain unanswered. Is this library still being maintained?

Aka, is it recommended that we use it to write a large scale production hybrid mobile app?

If not, what are the alternatives?

[2016-11-20 01:45] ghost commented on #72
Copy node_modules/reactionic/src/fonts into /public. Because

node_modules/reactionic/src/styles/_reactionic.scss

is loading

$ionicons-font-path: "/fonts";

not $ionicons-font-path: "../fonts";

as it should.

[2016-11-20 07:06] pors commented on #75
It is no longer maintained by me, but I'm still looking for someone to take over.

I would recommend React-Native.

[2016-11-20 08:22] gabrielseco commented on #75
Maybe we can edit  the README.MD that reactionic is not longer maintained, possible alternatives and we're looking for maintainers

[2016-11-20 12:05] pors commented on #75
I asked the Ionic organization. Let's see if they are interested. If not
then yes, do what you propose.

On Sun, Nov 20, 2016 at 10:22 AM, Gabriel García Seco <
notifications@github.com> wrote:

[2016-11-21 12:58] asafshen opened #76 "create button with `type="submit"` property with `IonButton` (*Formsy integration)"
Hi,

I have just started to work with React-Ioninc, its great.

I want to create an `IonButton` with underlying `<button/>`  element with `type="submit"`  property.
The reason is that [formsy-react](https://github.com/christianalfoni/formsy-react) relies on this property to initiate form submission.

Does anyone have an idea?

By the way  - i noticed that `IonButton` has type (one of "outline", "c

[2016-11-22 03:26] sathyaincampus opened #77 "how do i upload this project to ionic.io?"
how do i upload this project to ionic.io?
Usually with ionic, i do "ionic add platform android" and say "ionic upload". Can you tell me how I can upload the project created via your template to ionic and view that in the ionic-view app in android or ios?

[2016-11-23 06:58] gabrielseco commented on #77
Probably, you'll need an ionic app to do it

We are using meteor, so you can install your app in android and ios simulators or generate an apk or an ipa and install it in your phone.

More information in the next link

https://www.meteor.com/tutorials/blaze/running-on-mobile

[2016-11-23 06:58] #77 closed

[2016-11-23 08:00] ACEEDesign opened #78 "Cordova plugins"
I know youre not supporting this anymore but is there a way to make cordova plugins, such as cordova-plugin-payment-iap and cordova-plugin-admobpro work?

[2016-11-23 17:29] gabrielseco commented on #78
In theory it should be a meteor problem, if you're using reactionic-kitchensink example.

You only have to

[code]

You can read more here

https://guide.meteor.com/mobile.html#installing-plugins

[2016-11-23 17:29] #78 closed

[2016-11-24 15:51] ACEEDesign opened #79 "Disable swipe to open side menu"
Is there a way to disable opening the side menus by swiping? Setting drag-content="false" as you would normally does not seem to work.

[2016-12-06 20:43] rbonslat commented on #72
I tried your solution but it still did not work.  I copied the fonts folder and pasted it into the public folder under the app directory (reactionic-kitchensink-master\app\public\fonts).  Did I miss something here? @alstephan

Thanks!

[2016-12-06 21:03] ghost commented on #72
@rbonslat check what your $ionicons-font-path is set to then place the fonts folder in that path.

For me it was loading

$ionicons-font-path: "/fonts";

so looking for the fonts folder in /public. I am using reactionic with Meteor.

[2016-12-24 05:21] vinhhungle commented on #74
Warnings for customClasses, leftButton, rightButton have been fixed on
[This commit](https://github.com/vinhhungle/reactionic/commit/5849645fe67bbee5189fdfd0f99552aafc0b655b)

You can install the latest version:

[code]

For history, location, params, route, routeParams, routes: I've remove all the {...this.props} in layout components and use contextTypes instead.

pageList: should be imported fro

[2016-12-24 22:54] idmontie commented on #73
I'm able to use the `static contextTypes` syntax, but I've noticed that some of the `ion` props are not defined immediately. But here is an example of using the ionPlatform context that I have used:

[code]

[2017-01-04 10:11] chemitaxis commented on #75
Any news? Thanks!

[2017-01-26 08:03] alicerocheman commented on #75
Hi, I just saw that this is no longer maintained. Here's my 2 cents.
React Native is no reason to drop react ionic. React Native doesn't allow cross coding for mobile devices AND desktop.
Personnaly I need a hybrid solution that allows this with react, and believe me it's not that easy to find. I was so glad to find react ionic, thought my search was finally over, and... well I can't really make m

[2017-01-26 08:33] pors commented on #75
I approached the Ionic foundation but they are not interested in maintaining reactionic. If anyone else is, please let me know and I'll add you to the organization.

[2017-01-26 13:42] meticoeus commented on #76
Just looking at the source for IonButton, have you tried `props.htmlType="submit"`? It defaults to a `<button>` if it isn't a link.

[2017-08-09 00:32] johnwillyn commented on #75
Any reason why Ionic is not interested?  Seems much cleaner than some of the Angular code I have seen in the past, but I have not looked at their latest.

I (we) may be interested in picking this up.  I don't feel react native is quite ready, and is probably going to take a couple of years before we have a mature ecosystem like that around Cordova.

Other than picking this up and exploring, what a

[2017-08-09 06:57] gabrielseco commented on #75
Maybe @pors can give you more ideas than me but before we stop coding there were warnings with React 15 because we we were passing unknown props to some components.

You should convert the React.createClass components to es6 components I think because React.createClass is getting deprecated in React 16.

If you're interested in doing a ionic 2 version, I think you'll need to do a complete rewrite

[2017-08-09 08:44] pors commented on #75
@johnwillyn this is what the Ionic CEO responded:

That was almost a year ago, so I think that is not going to happen :)

About picking this up: that would be great! I agree with @gabrielseco, if you want to continue with Ionic 1 (the CSS of Ionic 1) I would start upgrading all dependencies and fix what breaks.

Supporting Ionic 2 needs a lot of work and maybe starting from scratch is best in that

[2017-08-09 11:04] johnwillyn commented on #75
Thanks @pors.  I have not looked at Ionic 2 in detail, but I am familiar with the bulk of Ionic 1, so I would probably start there and update the React to current.

I will probably give this some effort this week and see where it takes me.

John

[2017-08-09 18:18] johnwillyn commented on #75
I spent the morning updating the reactionic-kitchensink demo app dependencies to the current react-ionic, etc.

Many of the issues were related to updating the webpack dev dependency (in the end).

The one issue I don't know how to resolve is the inconsistency of Meteor's handling of this line in app/client/styles/app.sccs:

@import "{}/node_modules/reactionic/dist/scss/styles/reactionic.scss";

I

[2017-08-09 18:49] pors commented on #75
@johnwillyn awesome! Let me know if you would like access to the repo/organization.

[2017-08-09 23:04] johnwillyn commented on #75
Just to be clear, I updated the reactionic-kitchensink demo build to move to reactionic 1.2.0-beta.0 and a few of the build dependencies there that were outdated as well.

I did not update the core react, react-router, react-dom, or transitions dependencies beyond the 15.0.2 versions, but that is the next step (I suggested above).

I will submit a PR for my changes to the demo app if someone is in

[2017-08-10 06:32] pors commented on #75
Yes please go ahead with the PR.

On Thu, Aug 10, 2017 at 02:04 johnwillyn <notifications@github.com> wrote:

[2018-05-05 14:10] pors commented on #75
The project is more or less dead. I moved it back to my personal account to at least show off a bit :P

[2018-05-05 14:10] #75 closed